<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Content size:</strong>
  <%= @image.content_size %>
</p>

<p>
  <strong>Table:</strong>
  <%= @image.table_id %>
</p>

<p>
  <strong>Table type:</strong>
  <%= @image.table_type %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
