 <% time_left = get_left_time_by(type) %>

<% if time_left <= 0 || type == 'D' %>
  <!-- 后台没有配置奖项数据会报错 -->
  <% if ranking_config.present? %>
    <% if !current_user.gained?(ranking_config) %>
      <% prize_type = prize_type(ranking_config) %>
      <%= link_to '领取奖励', 'javascript:void(0)', class: 'Get-prizes bg-red txt-white get_gain', rc: ranking_config.id, prize_txt: prize_type[:txt], is_product: prize_type[:is_product] %>
    <% else %>
      <%= link_to '已领取', 'javascript:void(0)', class: 'Get-prizes bg-light-purple txt-white' %>
    <% end %>
  <% else %>
    <%#= link_to '无对应奖励', 'javascript:void(0)', class: 'already-receive' %>
    <% if from == 'rank' %>
      <p><span class="logo-money"></span><%= number_to_currency amount.to_f if amount.present? %></p>
    <% elsif from == 'rank_rate'  %>
      <p>收益率<span><%= number_to_currency ((amount.to_f / @gold).to_f * 100).round(2) if amount.present? %>%</span></p>
    <% end %>
  <% end %>
<% else %>
  <% if from == 'rank' %>
  <p><span class="logo-money"></span><%= number_to_currency amount.to_f if amount.present? %></p>
  <% elsif from == 'rank_rate' %>
    <p>收益率<span><%= number_to_currency ((amount.to_f / @gold).to_f * 100).round(2) if amount.present? %>%</span></p>
  <% end %>
<% end %>