<div class="gfc-box competition">
  <!--banner start-->
  <div class="ind-top">
    <div class="header">
      <div class="Ind-Money">
        <%=image_tag "h5/images/icon-logo.png", onclick:"window.location.href='/h5/posts/diamond_account_role'"%>
        <span id="user_total_coin" class="exchange_coin"><%= current_user.total_diamond_coin.to_i %></span><span>钻币</span>
        <%=image_tag "h5/images/change-2.png", class: "img-pop exchange_coin"%>
      </div>
      <!-- <a  class="Ind-topbtn fr" href="">10钻币=1夺宝人次</a> -->
      <a class="Ind-Return bg-purple txt-white fr bg-purple txt-white" href="/h5/lotteries/buy_record">夺宝记录</a>
    </div>
  </div>

  <!--banner end-->
  <p class="compete-tip">进群有红包和海量夺宝机会，客服微信：<span class="-gfc-blue">zuanliankeji</span></p>
  <!--钻价详情 start-->
  <div class="carat-bg">
    <!-- 每日签到 -->
    <%= render partial: '/h5/day_signs/form' %>
    <% unless current_user.subscribe_status == 1 %>
      <div class="carat">
        <ul>
          <div class="diamonds wechat-pic">
            <span><span class="Font-big"><%=SYSTEMCONFIG[:admin_config][:subscribe][:diamond_account]%></span>钻币</span>
          </div>
          <li class="first-line">
            <span class="fl">微信关注</span>
            <!--<span class="add -gfc-red">9,368.43</span>-->
          <li class="second-line">
            <span>关注"钻石大富翁"<br/>微信公众号</span>
            <%#if current_user.subscribe_status == 1%>
            <!-- <button class="bg-light-purple no-concern">已关注</button> -->
            <%#else%>
            <button class="btn-concern txt-white bg-red">马上关注</button>
            <%#end%>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="carat <%=wechat_browser? ? 'wechat' : ''%> " id="share_btn1" data-img="friend-shareMoney-box">
      <ul>
        <div class="diamonds squere-pic">
          <span><span class="Font-big"><%=SYSTEMCONFIG[:admin_config][:wechat_share][:diamond_account]%></span>钻币</span>
        </div>
        <li class="first-line">
          <span class="fl">分享朋友圈</span>
          <span class="fr">今日分享<span><span class="shared_times"><%= @share_count > 5 ? 5 : @share_count %></span>/<span class="txt-yellow-1"><%=SYSTEMCONFIG[:admin_config][:wechat_share][:limit]%></span></span>次</span>
        <li class="second-line">
          <span>分享"钻石大富翁"<br/>到微信朋友圈</span>
          <button class="txt-white bg-red">立即分享</button>
        </li>
      </ul>
    </div>
    <div class="carat <%=wechat_browser? ? 'wechat' : ''%> " id="share_btn2">
      <ul>
        <div class="diamonds friend-pic">
          <span><span class="Font-big"><%=SYSTEMCONFIG[:admin_config][:invite_user_each][:diamond_account]%></span>钻币</span>
        </div>
        <li class="first-line">
          <span class="fl">邀请好友</span>
          <span class="fr">已邀请<span><%=@invite_user_count > 100 ? 100 : @invite_user_count%></span>人</span>
        <li class="second-line ">
          <span>每邀请1位好友<br/>立奖100钻币</span>
          <button class="txt-white bg-red">立即邀请</button>
        </li>
      </ul>
    </div>
  </div>
  <!--钻价详情 end-->

  <!--分享 start-->
  <ul class="share">
    <li id="btn" data-img="index-box" onclick="window.location.href='/h5/chests'"></li>
    <!-- <li id="btn" data-img="index-box" onclick="alertTx('功能研发中,稍后上线')"></li> -->
    <li onclick="window.location.href='/home/index'"></li>
  </ul>
  <!--分享 end-->

  <!--关注公众号弹框 start-->
  <div class="BuyRecord-absolute BuyAttention">
    <!--引导注册-->
    <div class="BuyAbsolute-Box BuyAttention-Box">
      <%=image_tag "h5/images/icon-close.png", class:"BuyAbsolute-BoxClose"%>
      <div class="BuyAttention-text" style="clear:both;" >
        <%=image_tag "h5/images/gw.png" %>
        <p>长按关注钻石大富翁</p>
      </div>
    </div>
  </div>
  <!--关注公众号弹框 end-->
</div>

<div class="BuyRecord-box bodygray">
  <!--弹框兑换钻石币-->
  <%= render partial: 'share_template/exchange_diamond', locals: {redirect_url: "/h5/lotteries"} %>
</div>
<%unless wechat_browser? %>
<script>
  UrlCopy("share_btn1", "<%=@share_config[:link_url]%>")
  UrlCopy("share_btn2", "<%=@share_config[:link_url]%>")
</script>
<%end%>

<script>

  $(function(){
    <%if params[:share_callback]%>
      alertTx("这里赚取钻币继续免费夺宝!")
    <%end%>
    $('.btn-concern').on('click',function(){
      $('.competition .BuyRecord-absolute').css('display','block');
    })
    $('.BuyAbsolute-BoxClose').on('click',function(){
      $('.competition .BuyRecord-absolute').css('display','none');
    })

  })
</script>

