<div class="row">
  <div style="margin-top: 20px">
    <div class="col-xs-8">

    </div>
    <div class="col-xs-2" style="margin-left: 100px">
      <a href="/admins/users/new" target="_self" class="btn btn-primary btn-lg" role="button">添加管理员</a>
    </div>
  </div>


</div>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>序号</th>
      <th>用户名</th>
      <th>手机号</th>
      <th>账户角色</th>
      <th>状态</th>
      <th>最近登录时间/IP</th>
      <th>操作</th>


    </tr>
    </thead>

    <% if !@admins.empty? %>
        <% @admins.each_with_index do |admin,index| %>
            <tbody>

            <tr>
              <td><%= index+1 %></td>
              <td><%= admin.nickname %></td>
              <td><%= admin.phone %></td>
              <td><%= user_roles_name admin.role %></td>
              <td><%= admin_resource_status admin.status %></td>
              <td><%= time_format admin.updated_at%>/<%= admin.request_ip%></td>

              <td>

                <a href="/admins/users/<%= admin.id%>/edit" class="admin_product_operate_a">查看详情</a>
              </td>

            </tr>

            </tbody>
        <% end %>
    <% end %>

  </table>


  <div>


  </div>

</div>


<div class="flickr_pagination">
  <%= will_paginate @admins, :container => false, :previous_label => t("上一页"), :next_label => t("下一页") %>
</div>

<%= render partial: 'admins/users/user_modal' %>